/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}


/* Card Styles */
.card {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Heading Styles */
.card h1 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

/* Paragraph Styles */
.card p {
  font-size: 16px;
  color: #666;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .card {
    padding: 15px;
  }
}


.menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0; /* Eliminar el margen */
  background-color: #6e3f1d;
  border-bottom: 1px solid #ccc;
}


.App {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  padding: 10px;
  background-color: #6e3f1d;
  border-bottom: 1px solid #ccc;
}

.buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #533119;
  color: #fff;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #dcc9bc;
}
/* Estilo para la barra de desplazamiento */
.sidebar {
  width: 250px; /* Ajusta el ancho según sea necesario */
  height: 100vh; /* Altura completa de la ventana */
  overflow-y: auto; /* Permite el desplazamiento vertical */
  transition: left 0.3s ease; /* Transición suave para abrir/cerrar el menú */
}

/* Personalización de la barra de desplazamiento */
.sidebar::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

.sidebar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* Color de fondo de la pista */
  border-radius: 10px; /* Bordes redondeados de la pista */
}

.sidebar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5); /* Color del "pulgar" de la barra de desplazamiento */
  border-radius: 10px; /* Bordes redondeados del "pulgar" */
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8); /* Color del "pulgar" al pasar el mouse */
}

.contact-admin-button {
  padding: 10px 20px; /* Espaciado interno del botón */
  font-size: 16px; /* Tamaño del texto del botón */
  color: #fff; /* Color del texto del botón */
  background-color: #6f3f22;/* Color de fondo del botón en la gama de cafés */
  border-radius: 5px; /* Bordes redondeados del botón */
  text-decoration: none; /* Quita el subrayado del enlace */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
  transition: transform 0.3s ease, background-color 0.3s ease; /* Transición suave */
}

.contact-admin-button:hover {
  transform: scale(1.05); /* Aumenta el tamaño del botón */
  background-color: rgba(255, 255, 255, 0.2); /* Cambia el color de fondo */
}

/* Estilo para el cuadro de contacto */
.contact-admin-box {
  margin-top: 10px; /* Espacio superior para separar del botón */
  background-color: rgba(105, 52, 20, 0.495); /* Fondo semi-transparente */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.close-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.close-button:focus {
  outline: none;
}

.close-button i {
  font-size: 18px;
  color: #fff;
}

.icono-container {
  position: fixed; /* Mantiene el contenedor en una posición fija */
  top: 20px; /* Distancia desde la parte superior */
  right: 20px; /* Distancia desde el borde derecho */
  z-index: 1000; /* Asegura que el contenedor esté encima de otros elementos */
}

.icono-container img {
  width: 40px; /* Ajusta el tamaño del ícono */
  height: 40px; /* Ajusta el tamaño del ícono */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

.icono-container:hover {
  background-color: #d9bda5; /* Color de fondo al pasar el mouse */
}

.user-icon-container {
  position: relative;
  cursor: pointer;
}

.user-menu {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-profile {
  margin-bottom: 10px;
}

.user-profile h2 {
  margin-top: 0;
}

.user-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-menu li {
  margin-bottom: 10px;
}

.user-menu button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #533119;
  color: #fff;
  cursor: pointer;
}

.user-menu button:hover {
  background-color: #dcc9bc;
}


.icono-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.user-icon-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.user-icon-container img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.user-option {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.user-option:hover {
  background-color: #f0f0f0;
}

.user-option i {
  margin-right: 10px;
}

.logout-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #333;
}

/* Estilo para el menú lateral */
.sidebar.menu {
  background-color: #F5F0EE; /* Cambia el color de fondo a blanco */
  color: black; /* Cambia el color del texto a negro para que sea legible */
  transition: left 0.3s ease; /* Agrega una transición suave al abrir/cerrar el menú */
  width: 250px; /* Ancho del menú */
  position: fixed; /* Mantiene el menú fijo en la pantalla */
  height: 100%; /* Altura completa */
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

/* Estilo para los botones dentro del menú lateral */
.sidebar.menu .contact-admin-button {
  background-color: transparent; /* Fondo transparente para los botones */
  color: black; /* Color del texto negro */
  border: none; /* Sin borde */
  padding: 10px; /* Espaciado interno */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  width: 100%; /* Botones ocupan todo el ancho */
  text-align: left; /* Alinea el texto a la izquierda */
}

/* Estilo para los botones al pasar el mouse */
.sidebar.menu .contact-admin-button:hover {
  background-color: #f0f0f0; /* Color de fondo al pasar el mouse */
}

