body {
  background-color: #f4eae3;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  transition: margin-left 0.3s;
}

h1, h2, h3, h4, h5, h6 {
  color: #804000; /* Color de los títulos */
}
.access-check-title {
  text-align: center;
  margin-top: 20px;
}
.cafe {
  color: #804000; /* Un tono de café */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.content-inicio {
  border: 2px solid #ccc;
  padding: 20px; /* Disminuye el padding superior */
  margin: 5px;
  max-width: 800px; /* Ajusta el ancho máximo del contenedor */
  margin: 20px auto; /* Centra el contenedor horizontalmente */
  display: flex; /* Convierte el contenedor en un contenedor flexible */
  justify-content: space-between;/* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  height: 90vh; /* Ajusta la altura del contenedor al 100% de la altura de la pantalla */
  box-sizing: border-box; /* Ajusta el tamaño del contenedor para incluir el padding y el borde */
  overflow: hidden; /* Oculta el contenido que se sale del contenedor */
  flex-direction: column; /* Cambia la dirección del contenido a columna */
  align-items: flex-start; /* Ajusta el contenido al inicio del contenedor */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 55px; /* Reduce el ancho del logo */
  height: 55px; /* Reduce la altura del logo */
}

.logo img {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-item {
  padding: 10px;
  border-radius: 5px;
  background-color: #F5F0EE;
}

.list-item:hover {
  background-color: #d9bda5;
}

.apartment-list {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  gap: 20px;
  margin: 130px;
  padding: 40px;
  border-radius: 15px;
  background-color: #f4f4f4;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.floor-container {
  flex: 1 1 45%; 
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.floor-title {
  text-align: center;
  margin-bottom: 20px;
}

.floor {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.apartment {
  padding: 20px;
  border-radius: 10px;
  background-color: #d9bda5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.apartment:hover {
  background-color: #f4eae3; 
}

.apartment h3 {
  font-size: 18px;
  font-weight: bold;
}

.apartment ul {
  list-style-type: none;
  padding: 0;
}

.apartment li {
  margin-bottom: 5px;
  font-size: 14px;
}

/* CSS para centrar el título de Access Check */
.access-check {
  text-align: center;
  margin-top: 20px;
}

.access-check-title {
  font-size: 24px;
  font-weight: bold;
}

/* CSS para posicionar la lista en la parte izquierda */
.access-check-list {
  text-align: left;
  margin-top: 10px;
  margin-left: 0; /* Asegura que la lista esté alineada a la izquierda */
  padding-left: 20px; /* Añade un pequeño padding a la izquierda */
  list-style-type: disc; /* Añade los ítems de la lista como círculos */
}

.apartment-list-title {
  text-align: center;
  margin-top: 20px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #6e3f1d;
  border-bottom: 1px solid #ccc;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #fefafa;
}

.menu a:hover {
  color: #966e4d;
}

.apartment-row {
  display: flex;
  justify-content: space-between;
}

.apartment-column {
  width: 45%;
  margin: 20px;
}

.apartment-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.apartment-column li {
  margin-bottom: 10px;
}

.centered-title {
  text-align: center;
}

/* Reordenamiento de pisos */
.apartment-list .floor-container:nth-child(2) {
  order: 2; /* Segundo piso a la derecha del primer piso */
}

.apartment-list .floor-container:nth-child(3) {
  order: 3; /* Tercer piso debajo del primer piso */
}

.apartment-list .floor-container:nth-child(4) {
  order: 4; /* Cuarto piso debajo del segundo piso */
}

.apartment-list .floor-container:nth-child(5) {
  order: 5; /* Quinto piso debajo del tercer piso */
}

.apartment-list .floor-container:nth-child(6) {
  order: 6; /* Sexto piso debajo del cuarto piso */
}
.icono-container {
  position: fixed; /* Asegura que el contenedor se mantenga en una posición fija */
  top: 20px; /* Ajusta la distancia desde la parte superior */
  right: 20px; /* Ajusta la distancia desde el borde derecho */
  width: auto; /* Ajusta el ancho según el contenido */
  height: auto; /* Ajusta la altura según el contenido */
  z-index: 1000; /* Asegura que el contenedor esté encima de otros elementos */
}

.icono-container img {
  width: 40px; /* Ajusta el tamaño del ícono */
  height: 40px; /* Ajusta el tamaño del ícono */
}


/*Efecto de escritura del titulo*/
/* Clase CSS para crear un efecto de texto que se escribe automáticamente */
.typing-text {
  /* Oculta el texto que excede el ancho del contenedor */
  overflow: hidden;
  
  /* Agrega una línea vertical a la derecha del texto para simular un cursor */
  border-right: 0.15em solid rgb(150, 94, 67);
  
  /* Impide que el texto se envuelva a la línea siguiente */
  white-space: nowrap;
  
  /* Aplica dos animaciones al texto: 'typing' y 'blink-caret' */
  animation: 
    /* Animación 'typing' que se repite infinitamente durante 5 segundos */
    typing 5s 
    /* Divide la animación en 40 pasos y detiene la animación al final de cada paso */
    steps(40, end) 
    infinite, 
    /* Animación 'blink-caret' que se repite infinitamente durante 0.75 segundos */
    blink-caret 0.75s 
    /* Divide la animación en pasos y detiene la animación al final de cada paso */
    step-end 
    infinite;
}

/* Definición de la animación 'typing' */
@keyframes typing {
  /* Estado inicial de la animación: el texto tiene un ancho de 0 */
  0% { width: 0; }
  
  /* Estado final de la animación: el texto tiene un ancho del 100% */
  100% { width: 100%; }
}

/* Definición de la animación 'blink-caret' */
@keyframes blink-caret {
  /* Estado inicial y final de la animación: el cursor es transparente */
  from, to { border-color: transparent; }
  
  /* Estado intermedio de la animación: el cursor es visible durante 50% del tiempo */
  50% { border-color: rgb(189, 142, 113); }
}






body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #6e3f1d; /* Color de fondo del menú */
  color: #fefafa; /* Color del texto en el menú */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #ccc; /* Línea divisoria */
}

.sidebar h2 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sidebar ul li {
  margin-bottom: 20px;
}

.sidebar ul li:last-child {
  margin-bottom: 0;
}

.sidebar a {
  text-decoration: none;
  color: #fefafa; /* Color del texto */
  font-size: 1.1em;
}

.sidebar a:hover {
  color: #966e4d; /* Color al pasar el mouse */
}

.main-content {
  flex: 1;
  padding: 20px;
}




/*VerAgendamiento*/
.sidebar {
  background-color: #be8042;
  width: 230px;
  padding: 20px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.sidebar h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #804000;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s;
}

.sidebar li a.active {
  background-color: #dcc9bc;
}

.sidebar li ul.sub-menu {
  display: none;
  list-style: none;
  padding: 0;
}

.sidebar li ul.sub-menu li a {
  padding-left: 20px;
}

.sidebar li:hover ul.sub-menu {
  display: block;
}

/* Estilos para el contenido principal */
.main-content {
  margin-left: 220px;
  padding: 20px;
  height: 100vh;
}

.main-content header {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.main-content header h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}


.center-title {
    text-align: center;
    margin: 0 auto;
}

.main-content header .search-bar {
  width: 100%;
  padding: 10px;
  border: 1.5px solid #82481f;
  border-radius: 5px;
  margin-bottom: 10px;
}
/*icono de busqueda en la barra*/
.input-with-icon {
  position: relative;
  width: 100%;
}

.input-with-icon .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #82481f;
}

.input-with-icon .search-bar {
  padding-left: 35px; /* Espacio para el ícono */
  width: 100%;
  padding: 10px;
  border: 1.5px solid #82481f;
  border-radius: 5px;
}





.center-title {
  text-align: center;
  margin: 0 auto;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.summary {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #f7f7f7; /* Color de fondo gris claro*/
  padding: 20px;
  box-shadow: 0 4px 8px rgba(114, 112, 112, 0.1);
}

.summary-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1; /* Asegura que todos los elementos crezcan de manera uniforme */
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  border: 2px solid #be8042; /* Ancho del borde, color café */
  min-height: 150px; /* Asegura una altura mínima uniforme para todos */
  min-width: 200px; /* Asegura un ancho mínimo uniforme para todos */
  max-width: 220px; /* Limita el ancho máximo */
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho y la altura */
}

.summary-item:hover {
  background-color: #e2c7ab;
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #f7f7f7;
  padding: 20px;
  max-width: 100%; /* Asegura que no se extienda más allá del contenedor padre */
  overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
}

.container {
  display: flex;
  flex-direction: row;
}

.main-content {
  flex: 1;
  margin-left: 220px; /* Ajusta este valor según el ancho de tu menú lateral */
  padding: 20px;
}

.menu-lateral {
  width: 200px; /* Ajusta el ancho del menú lateral */
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #f4f4f4;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}


/* ... other CSS styles ... */
.agendamientos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.agendamiento-card {
  width: 48%;
  margin-bottom: 20px;
  background-color: #e2c7ab;
  padding: 20px;
  border-radius: 5px;
}

.agendamiento-card h2, .agendamiento-card h3 {
  text-align: center;
  width: 100%;
  margin: 0;
  padding-bottom: 8px;
}


.agendamiento-card p {
  margin-bottom: 5px;
}

.agendamiento-card button {
  padding: 10px 20px;
  background-color: #804000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.agendamiento-card button:hover {
  background-color: #4c2102;
}



.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #804000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.close-button:hover {
    background-color: #603000;
}

/*linea de rectanulo gris*/
.content-wrapper {
  border: 2px solid #ccc; 
  padding: 20px; 
  margin: 20px; 
}


/* Estilos para la ventana del chat */
.chat-window {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: none; /* La ventana está oculta inicialmente */
  z-index: 1000; /* Asegúrate de que la ventana esté encima de otros elementos */
}

.chat-header {
  background-color: #6e3f1d; /* Color de fondo del encabezado */
  color: #fefafa; /* Color del texto del encabezado */
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-header h3 {
  margin: 0;
}

.close-button {
  cursor: pointer;
  font-size: 1.2em;
  color: #fefafa; /* Color del botón de cierre */
}

.chat-body {
  padding: 10px;
  height: 250px;
  overflow-y: auto; /* Agrega una barra de desplazamiento si el contenido es demasiado grande */
}

.chat-message {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.chat-message.user {
  background-color: #f0f0f0;
  text-align: left;
}

.chat-message.admin {
  background-color: #e2c7ab;
  text-align: right;
}

.chat-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.chat-submit {
  padding: 10px;
  background-color: #804000; /* Color del botón */
  color: #fefafa; /* Color del texto del botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*Contenedor formulario inicio y registro*/
.inicios-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out; /* Cambia el tiempo y el tipo de animación según lo desees */


}

/*Agendar visita*/
.reporte-container {
  max-width: 800px;
  margin: 40px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reporte-item {
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.reporte-item h2 {
  margin-top: 0;
}

.reporte-item p {
  margin-bottom: 10px;
}

/* Estilos para el formulario de agendar de visita */
.main-content {
  flex: 1; /* Permite que el panel central ocupe el espacio restante */
  padding: 20px;
}

.content-wrapper {
  background-color: #f4eae3;
  max-width: 600px; /* Ajusta el ancho según sea necesario */
  width: 100%;
  box-shadow:0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 5px;
}



/* Estilos para el formulario del reporte */
#reporte-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

#reporte-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

#reporte-form input[type="date"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



/*Inicio Vigilante*/
/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.App {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.options-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  grid-template-rows: repeat(8, auto); /* Ocho filas */
  gap: 40px; /* Espacio entre los contenedores */
  width: 45%;
  margin: 40px;
}

.option {
  background-color: #be8042; /* Café claro */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para darle profundidad */
  transition: background-color 0.3s, transform 0.3s;
}

.option a {
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-icon {
  width: 80px; /* Ajusta el ancho de los iconos de las torres */
  height: 80px;
  margin-bottom: 10px; /* Espacio debajo del icono */
  border-radius: 10px;
  background-color: #f4eae3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option-icon img {
  max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
  max-height: 100%; /* Ajusta la altura máxima de la imagen */
}

.option-text {
  margin-top: 10px;
  font-size: 18px; /* Tamaño del texto */
}

.option:hover {
  background-color: #dcc9bc;
  transform: scale(1.05);
}

.vigilante-title {
  text-align: center; /* Centra el texto horizontalmente */
  margin-top: 20px; /* Espacio superior para separar el título del borde superior */
  margin-bottom: 20px; /* Espacio inferior para separar el título del contenido siguiente */
  font-size: 24px; /* Tamaño de fuente, puedes ajustar esto según tus necesidades */
  color: #804000; /* Color del texto, puedes ajustar esto según tus necesidades */
  font-weight: bold; /* Opcional: pone el texto en negrita */
}
.Conjunto-title {
  margin: 0; /* Elimina el margen por defecto del título */
  font-size: 25px; /* Tamaño de fuente, ajusta según sea necesario */
  color: #f8f3ee; /* Color del texto, ajusta según sea necesario */
}

/* Perfil */
.profile-container {
  position: absolute; /* Permite posicionar el contenedor en el lado derecho */
  top: 182px; /* Espacio desde el borde superior */
  right: 100px; /* Espacio desde el borde derecho */
  width: 400px; /* Ancho del contenedor */
  background-color: #d9bda5; /* Color de fondo en la gama de cafés */
  padding: 40px; /* Espacio interno del contenedor */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para darle profundidad */
  transition: background-color 0.3s, transform 0.3s;
}
.profile-container:hover {
  background-color: #dcc9bc;
  transform: scale(1.02);
}

.profile-header {
  text-align: center; /* Centra el contenido del encabezado del perfil */
}

.profile-photo img {
  width: 100px; /* Ancho del círculo de la foto */
  height: 100px; /* Altura del círculo de la foto */
  border-radius: 50%; /* Hace que la imagen sea circular */
  border: 2px solid #804000; /* Borde alrededor de la foto */
  object-fit: cover; /* Asegura que la imagen cubra el área del círculo */
}

.profile-name {
  margin-top: 100; /* Espacio superior del nombre */
  font-size: 18px; /* Tamaño del texto del nombre */
  color: #5c4033; /* Color del texto en la gama de cafés */
}

.profile-details {
  margin-top: 50px; /* Espacio superior de los detalles */
  font-size: 14px; /* Tamaño del texto de los detalles */
  color: #4a3b29; /* Color del texto de los detalles */
}

.profile-details p {
  margin: 15px 0; /* Espacio entre los párrafos */
}

/* Estilos del botón "Ver más" */
.button-container {
  text-align: center; /* Centra el botón horizontalmente */
  margin-top: 20px; /* Espacio superior del botón */
}

.inicio-button {
  display: block; /* Convierte el botón en un elemento de bloque */
  margin: 0 auto; /* Centra el botón horizontalmente */
  padding: 10px 20px; /* Agrega un padding al botón */
  text-align: center; /* Centra el texto dentro del botón */
  font-size: 16px; /* Tamaño del texto del botón */
  color: #fff; /* Color del texto del botón */
  background-color: #86582d; /* Color de fondo del botón en la gama de cafés */
  border-radius: 5px; /* Bordes redondeados del botón */
  text-decoration: none; /* Quita el subrayado del enlace */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
}

.inicio-button:hover {
  background-color: #dcc9bc;

}

.perfil-button {
  display: inline-block; /* Hace que el botón se ajuste al contenido */
  padding: 10px 20px; /* Espaciado interno del botón */
  font-size: 16px; /* Tamaño del texto del botón */
  color: #fff; /* Color del texto del botón */
  background-color: #be8042; /* Color de fondo del botón en la gama de cafés */
  border-radius: 5px; /* Bordes redondeados del botón */
  text-decoration: none; /* Quita el subrayado del enlace */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
}

.perfil-button:hover {
  background-color: #6f3f22; /* Color de fondo al pasar el ratón sobre el botón */
}

footer {
  background-color: #6e3f1d;
  padding: 20px;
  text-align: center;
  color: #FFF0E6;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.contact-info p {
  margin-bottom: 10px;
}


footer {
  background-color: #6e3f1d;
  padding: 20px;
  text-align: center;
  color: #FFF0E6;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.contact-info p {
  margin-bottom: 10px;
}


.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #6e3f1d;
  transition: left 0.3s ease;
  z-index: 1000;
  padding-top: 60px;
}

.sidebar.menu ul {
  list-style-type: none;
  padding: 0;
}

.sidebar.menu ul li {
  padding: 10px 15px;
  text-align: left;
}

.sidebar.menu ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.icono-container img {
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.icono-container:hover {
  background-color:#d9bda5;
}


/* Ajuste del contenido cuando la sidebar está abierta */
.main-content {
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

.main-content.shifted {
  margin-left: 250px;
}

/*Calendario*/
/* App3.css */
.calendar-container {
  display: none; /* Inicialmente oculto */
  width: 100%;
  height: 300px; /* Ajusta según tus necesidades */
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.fc {
  height: 100% !important; /* Asegura que el calendario ocupe el 100% del contenedor */
}



/*Info ADICIONAL*/
.apartment-additional-info {
  display: none;
  margin-top: 10px;
}

.ver-mas-button {
  
  padding: 10px 10px; /* Espaciado interno del botón */
  font-size: 16px; /* Tamaño del texto del botón */
  color: #fff; /* Color del texto del botón */
  background-color: #6f3f22;/* Color de fondo del botón en la gama de cafés */
  border-radius: 5px; /* Bordes redondeados del botón */
  text-decoration: none; /* Quita el subrayado del enlace */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
}

.ver-mas-button:hover {
  background-color: #be8042; /* Color de fondo al pasar el ratón sobre el botón */
}


/* CSS para el menú desplegable */
/* Menú horizontal */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #6e3f1d;
  border-bottom: 1px solid #ccc;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #fefafa;
}

.menu a:hover {
  color: #966e4d;
}

/* Menú desplegable */
.dropdown-menu {
  display: none; /* Oculto por defecto */
  position: absolute; /* Posición absoluta para que se pueda desplegar sobre otros elementos */
  top: 60px; /* Ajusta según la altura del menú horizontal */
  right: 0; /* Ajusta según la posición deseada */
  background-color: #fff; /* Color de fondo del menú desplegable */
  border: 1px solid #ccc; /* Borde alrededor del menú */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 10px 20px;
}

.dropdown-menu a {
  text-decoration: none;
  color: #333;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}

/* Ventana para ver mas */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #F5F0EE;;
  margin: 15% auto;
  padding: 50px;
  border: 1px solid #888;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*FLECHAS DE DESPLAZAMIENTOS*/
.scroll-btn {
    position: fixed;
    right: 20px;
    background-color: #82481f;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    z-index: 1000;
    transition: opacity 0.3s;
}

#scrollDownBtn {
    bottom: 20px;
}

#scrollUpBtn {
    bottom: 80px;
}

.scroll-btn:hover {
    opacity: 0.5;
}


.btn-detalle {
  margin-top: auto; /* Asegura que el botón esté en la parte inferior del contenedor */
  align-self: center; /* Centra el botón dentro del contenedor */
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-detalle:hover {
  background-color: #0056b3;
}



#activarBtn {
  background-color: #ffeb3b; /* Amarillo */
  border: 2px solid #000;
  color: #000;
}

#completadaBtn {
  background-color: #4caf50; /* Verde */
  border: 2px solid #000;
}

#pendienteBtn {
  background-color: #f44336; /* Rojo */
  border: 2px solid #000;
}
#verMasBtn {
  padding: 10px 20px;
}

/*formulario sorpresa*/


.left-section {
  text-align: center;
  width: 40%; /* Ajusta este valor según lo necesario */
  padding-top: 300px;
}

.icono-grande {
  max-width: 100%;
  height: auto;
  margin-bottom: 0.1px; /* Ajusta el valor según lo que necesites */
}


.right-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding: 50px;
}

.right-section form {
  width: 50%;
}

/*Iconos de vehiculo*/
#vehiculo-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-row label {
  flex: 0 0 40px; /* Ajusta este valor según el tamaño de tus iconos */
  margin-right: 10px;

}

.form-row input {
  flex: 1;
}

.icono-animado {
  max-width: 120px; /* Ajusta el tamaño del GIF según tus necesidades */
  height: auto;
  display: inline-block;
  margin-top: 100px; /* Espacio arriba del GIF para separarlo del texto */
}

.center-buttons {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  gap: 100px; /* Espacio entre los botones, ajusta según sea necesario */
}

.sidebar-gif {
  width: 100px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Estilos del modal personalizado */
/* Estilos del modal */


.modal-header {
  padding: 10px;
  background-color: #f1f1f1; /* Fondo claro para el encabezado */
  color: #333; /* Texto oscuro para el título */
  border-bottom: 1px solid #ccc;
}


.modal-body {
  padding: 20px;
  background-color: #fff; /* Fondo blanco para el cuerpo del modal */
  color: #000; /* Texto oscuro */
}

.modal-list {
  list-style: none;
  padding: 0;
}

.modal-list li {
  padding: 10px 0;
  font-size: 16px;
  color: #333; /* Color de las letras */
}

.modal-list li i {
  color: #28a745; /* Color de los íconos */
  margin-right: 8px;
  font-size: 18px;
}


/* Estilos actualizados */
.reports-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 10px; /* Espaciado para evitar que el contenedor toque los bordes de la pantalla */
  box-sizing: border-box;
  
}

.graph-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Cambia de center a flex-end para alinear a la derecha */
  gap: 20px;
  position: relative;
  width: 100%;
  max-width: 1200px; /* Ajusta según el diseño */
  padding: 0 20px; /* Espaciado para evitar que los gráficos toquen los bordes */
  box-sizing: border-box;
}


.visitor-report {
  width: 100%;
  max-width: 500px;
  background-color: #d9bda5;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.visitor-report:hover {
  background-color: #f4eae3;
  transform: scale(1.02);
}

.reports-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Cambia de center a flex-end para alinear a la derecha */
  gap: 40px; /* Espacio entre los diagramas */
  width: 100%;
  max-width: 1100px; /* Ajusta según el diseño */
  padding: 20px; /* Espaciado para evitar que los gráficos toquen los bordes */
  box-sizing: border-box;
  border: 2px solid #ccc; 
  border-radius: 8px;
  margin: 20px auto; /* Centra el contenedor horizontalmente y le da margen */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para darle profundidad */
}

.report-card {
  text-align: center;
}


canvas {
  max-width: 100%;
}


.container {
  display: flex; /* Convierte el contenedor en un contenedor flexible */
  flex-direction: column; /* Coloca los elementos en columna */
  height: 80vh; /* Ajusta la altura del contenedor al 100% de la pantalla */
  margin-top: -20px; /* Agrega un margen superior negativo */
}

.left-img {
  width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: auto; /* Ajusta la altura de la imagen automáticamente */
  max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
  max-height: 80%; /* Ajusta la altura máxima de la imagen al 100% del contenedor */
  object-fit: contain; /* Ajusta la imagen para que se ajuste al tamaño del contenedor sin recortarla */
  margin-bottom: 10px; /* Disminuye el margen inferior a 10px */
}

.right {
  height: 10%;
  flex-basis: 10%; /* Ajusta la altura del texto al 50% del contenedor */
  padding: 20px; /* Agrega un padding al texto */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* Mueve la imagen hacia abajo */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Regresa a su posición original */
  }
}

.rounded-image {
  border-radius: 20px; /* Ajusta el valor según el redondeo que desees */
  width: 100%; /* Asegúrate de que la imagen sea responsive */
  max-width: 500px; /* Ajusta el ancho máximo según sea necesario */
  display: block; /* Cambia a bloque para que el margen funcione */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  animation: fadeIn 1s ease-in; /* Aplica la animación */
}

.text-container {
  background-color: rgba(204, 203, 203, 0.096); /* Gris con opacidad */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados para el contenedor de texto */
  margin-top: 20px; /* Espacio superior para separar del contenido anterior */
  animation: fadeIn 1s ease-in; /* Aplica la animación */
  animation-delay: 0.5s; /* Retrasa la animación del contenedor de texto */
}